body{
    margin: 0;
    padding: 0;
    background-color: #f5f5dc;
    border: 10px solid #d8cfc4;
    box-sizing: border-box;
}
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d8cfc4;
  padding: 10px 20px;
}

.navbar{
    display: flex;
  gap: 15px;
}
.navbar li{
    list-style-type: none;
  display: inline;
  padding: 0 20px;
  position: relative;
}
